p,li{
    font-size: 17px;

    letter-spacing: 1px;

}

img{
    width: 200px;
    }

h1{
 font-size: 65px;
    text-align: center;
}

#linkedin-profile{
    font-style: italic;
}


.test-class{
    color: red;
}
